/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----- Variables ----- */
/* ----- Global ----- */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  font-family: 'Baloo 2', cursive;
  background-color: #fff;
}

section {
  height: 500px;
  display: table; 
  margin-bottom: 0px;
}


section {
  text-align: center;
  vertical-align: middle;
  display: table-cell; 
  color: black;
}

section h1 {
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 3em; 
  font-weight: 600;
}

section p {
  color: rgba(0,0,0,0.7);
  font-size: 1.3em;
  font-weight: 400;
}

.start-over {
  color: rgba(0,0,0,0.7);
  margin-top: 250px; 
}

a {
  text-decoration: none;
  color: rgb(255, 63, 64);
  background-image: linear-gradient(1deg, rgb(255, 63, 64) 0%, rgb(255, 63, 64) 10%, transparent 14%, transparent 100%);
}

footer {
  width: 100%;
  /*background-color: white;*/
  display: flex;
  position: fixed;
  padding: 45px;
  text-align: center;
  bottom: 0px;
}

footer div {
  margin: 0 auto;
  background-image: linear-gradient(1deg, rgb(255, 63, 64) 10%, rgb(255, 63, 64) 10%, transparent 14%, transparent 100%);
}


footer {
  width: 100%;
  /*background-color: white;*/
  display: flex;
  position: fixed;
  padding: 45px;
  text-align: center;
  bottom: 0px;
}

footer div {
  margin: 0 auto;
  background-image: linear-gradient(1deg, rgb(255, 63, 64) 10%, rgb(255, 63, 64) 10%, transparent 14%, transparent 100%);
}
